.advantages-hidden {
  display: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-color;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-color;
  text-align: start;
}

.icon-svg {
  display: block;
  align-items: center;
}

.container-svg {
  display: flex;
  height: 120px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background: $secondary-bg-color;
  border-radius: 4px;
  margin-top: 60px;
}

@media screen and(min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages-list-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    justify-content: space-around;
  }
  .advantages-list-item {
    width: 270px;
  }
}
