.advantages-hidden {
  display: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-color;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: start;
}

.icon-svg {
  display: block;
  align-items: center;
}

.container-svg {
  display: flex;
  height: 120px;
  width: 450px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-top: 60px;

  .advantages-list {
    &-item {
      // margin-top: 60px;
      // margin-bottom: 30px;

      @media screen and(min-width: 768px) {
        .advantages-list {
          display: flex;
          flex-wrap: wrap;
        }
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
        margin-top: 94px;

        .advantages-list:not(:last-child) {
          margin-right: 30px;
        }

        .advantages-list {
          display: flex;
        }
      }
    }

    @media screen and (min-width: 1200px) {
      .container-svg {
        width: 270px;
        margin-top: 94px;
        margin-bottom: 30px;
      }
    }
  }
}
