.direction {
  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-img-wrapper {
    position: relative;
  }

  &-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
  }

  &-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;

    padding-top: 27px;
  }
}

.direction .title {
  padding-top: 94px;
  margin-bottom: 50px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
}
