.header {
  padding: 29px 0;

  & .container {
    display: flex;
    align-items: center;
  }

  & .address {
    margin-left: auto;
  }

  & .logo-link {
    margin-right: 90px;
  }
}

.navigation {
  display: flex;
  align-items: center;

  &-list {
    display: flex;

    &-link {
      padding-top: 32px;
      padding-bottom: 32px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $main-color;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $accent-color;
      }
      &:focus .navigation-element,
      &:hover .navigation-element {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

    &-item {
      position: relative;
    }

    &-item .current::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -191%;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }

    &-item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.address .list:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;

  &-link {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
  }
}

.mail-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.tel-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  .header-icon {
    display: inline-block;
    margin-right: 10px;
    fill: #757575;
  }
}
.mail:hover,
.tel:hover {
  fill: $accent-color;
}
