.team {
  background: #f5f4fa;

  &-box {
    width: 270px;
    height: 422px;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  &-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);

    margin-top: 30px;
    margin-bottom: 10px;
  }

  &-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }

  &-list {
    display: flex;

    &-item {
      margin-bottom: 94px;
    }

    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team .title {
  margin-top: 188px;
  padding-top: 94px;
  padding-bottom: 50px;
}

.social-link {
  display: flex;
  justify-content: center;

  margin-top: 16px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-color;
  }

  &:hover .social-icon {
    fill: #ffffff;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
