*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-style: normal;

  &.modal-open {
    overflow: hidden;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-family: $main-font;
  font-style: normal;
}

img {
  display: block;
}
